<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AndroSensor</title>
</head>
<body>
    Before text
    <br>
    <%-body%>
    <br>
    After text
</body>
</html>