

<body>
    hello
    <script>
        let cData = '<%- JSON.stringify(cData) %>';
            cData=JSON.parse(cData);
            console.log(cData[2]['ACCELEROMETER Y (m/s²)']);
            cData[2]['ACCELEROMETER Y (m/s²)']
            console.log("stats")
    </script>
</body>